.header {
	background-color: #B0FFEE;
    text-align: center;
    height: 75px;
    line-height: 75px;
}

.invoice-list-item{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}